venv/
.env
__pycache__/

#this is for testing
test.py

#this folder has all of the tts models
#the models are relatively big and i implemented a script that can download the right model from the json file
audio/tts/voices/

#this deletes all the test files before pushing
before_git_push.py
